.FormSection {
  margin-top: 70px;
}

.FormContainer {
  display: grid;
  grid-row-gap: 15px;
  padding: 49px;
  background: #f3f2f2;
}

.FormContainer input {
  background: #ffffff;
  border: 0.5px solid #3b5aff;
  border-radius: 23px;
  font-weight: 400;
  font-size: 14px;
  height: 46px;
  line-height: 16px;
  padding-left: 27px;
  color: #7a7a7a;
}

.FormContainer textarea {
  background: #ffffff;
  border: 0.5px solid #3b5aff;
  border-radius: 23px;
  font-size: 14px;
  padding: 16px 27px;
}

.FormHeader {
  font-weight: 400;
  font-size: 32px;
  margin: auto;
  width: fit-content;
}

.PrimaryButton {
  background: #3b5aff;
  border-radius: 16.5px;
  color: #ffffff;
  width: 194px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: auto;
  margin-top: -15px;
}

.FormFooter {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  padding: 15px;
  text-align: center;
  margin-top: 18px;
}

.FormFooter .Bold {
  font-weight: 500;
}

.Blue {
  color: #3b5aff;
}

.MobileTitleWithBorder {
  color: #3b5aff;
  font-size: 32px;
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 10px;
  margin-top: 16px;
}

.MobileTitleWithBorder > div:first-child {
  flex: 1;
}

.MobileBorder {
  border: 1px solid #3b5aff;
  flex-grow: 0.2;
}

.MobileTitleDesc {
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  margin: 15px 0;
  color: #9d9c9c;
}

.Points {
  display: grid;
  grid-row-gap: 22px;
  margin-bottom: 50px;
}

.Points > div {
  display: grid;
  // grid-template-columns: 10% 90%;
  grid-column-gap: 10px;
}

.Points img {
  margin-top: 3px;
}

.PointText {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #3b5aff;
}

.PointsContainer {
  margin-top: 60px;
}
